* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: red;
  padding: 2px;
  width: 100vw;
  height: 100vh;

  .redux--counter {
    button {
      border: none;
      outline: none;
      padding: 9px;
      border-radius: 10px;
      margin: 5px;
    }
    .increment {
      color: white;
      background-color: green;
    }
    .decrement {
      color: white;
      background-color: red;
    }
    .reset {
      color: black;
      background-color: yellow;
    }
  }
}
